*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(255, 235, 235);
    text-align: center;
    background-image: url('Untitled.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 0.5rem;
    border: none;
    box-shadow: 0 0 1rem rgb(193, 236, 255);
    font-size: 8vmin;
    color: rgb(121, 163, 253);
    background-color: rgb(181, 209, 225);
}

#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: rgb(181, 213, 255);
    color: rgb(255, 255, 255);
    border-radius: 0.5rem;
    border: none;
}

#heading{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(64, 107, 150);
}

#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: rgb(181, 213, 255);
    color: rgb(255, 255, 255);
    border-radius: 0.5rem;
    border: none;
}

#msg{
    color: rgb(64, 107, 150);
    font-size: 5vmin;
}

.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide{
    display: none;
}

@media (max-width: 600px) {
  body {
    background-size: cover;
    background-position: center;
  }

  .container, .game-board {
    width: 90%;
    margin: auto;
    font-size: 18px;
  }

  button {
    width: 80px;
    height: 80px;
    font-size: 20px;
  }
}